.teclado{
    padding: 2.5px;
    margin: 0px 20px;
    background-color: rgba(4, 4, 102, 0.062);
    width: 90vw;
    height: 30vh;
    display: grid;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255,255,255, 0.2);
}

.main-page{
    flex-direction: column;

}
#ahorcado-img{
    width: 40vw;
    border-radius: 5px;
}
.game-grid{
    padding: 10px;
}

.teclado div button{
    background-color: rgba(59, 59, 59, 0.082);
    width: 10%;
    height: 100%;
    color: aliceblue;
    margin: 0px 2.5px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    font-size: large;
}

.palabra {
    margin: 10px;
    padding: 10px;
    background-color: rgba(4, 4, 102, 0);
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.teclado div button:hover{
    background-color: rgba(63, 54, 108, 0.36);
    color: rgb(142, 124, 234);
    border: 2px solid rgb(154, 137, 240);
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.38);

}

.teclado div{
    
    margin: 2.5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}