.card {
    display: grid;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    min-width: 40%;
}

.icon {
    font-style: normal;
    color: white;
    cursor: pointer;
    padding: 1px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 0;
}

.icon:hover {
    border: 2px solid rgba(255,255,255,0.5);
    background-color: rgba(90,200,80,0.3);
}

.game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
}

.game-header img {
    height: 30px;
    width: 30px;
}

.game-header div{
    min-width: 30%;
}

.left{
    justify-content: left;
}

.center{
    justify-content: center;
}

.right{
    justify-content: right;
}

.flex {
    display: flex;
    align-items: center;
}

/*Clases tablero*/

.tablero {
    display: block;
    min-width: 250px;
    max-width: 750px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.tablero .celda {
    display: flex;
    width: 50px;
    aspect-ratio: 1 / 1;
    margin: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.tablero .celda .valor {
    margin: 0;
}

.tablero .celda:hover {
    border: 2px solid blue;
}

/*Diseño de celdas sin revelar o marcadas*/
.sin-revelar.claro,
.flag.claro {
    background-color: rgb(150, 200, 240);
}

.sin-revelar.oscuro,
.flag.oscuro {
    background-color: rgb(120, 180, 230);
}

.flag img {
    width: 100%;
}

/*diseño que tendrán las celdas vacías y cercanas a minas*/
.empty.claro,
.cerca.claro {
    background-color: rgb(245, 210, 160);
}

.empty.oscuro,
.cerca.oscuro {
    background-color: rgb(219, 183, 124);
}

.cerca {
    font-size: 25px;
    /*font-size: 45%;
    font-size: 2vw;
    font-size: 2rem;
    font-size: 2em;
    font-size: 1cap;*/
}

.cerca.v1 {
    color: rgb(0, 0, 255);
}

.cerca.v2 {
    color: rgb(3, 131, 1);
}

.cerca.v3 {
    color: rgb(255, 0, 0);
}

.cerca.v4 {
    color: rgb(2, 0, 132);
}

.cerca.v5 {
    color: rgb(134, 0, 0);
}

.cerca.v6 {
    color: rgb(1, 130, 132);
}

.cerca.v7 {
    color: rgb(133, 0, 131);
}

.cerca.v8 {
    color: rgb(119, 119, 119);
}

.exploding {
    animation: explode 0.4s ease-out forwards;
    background-color: red;
    pointer-events: none;
}

.exploding img {
    width: 70%;
}

@keyframes explode {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px red;
    }

    50% {
        transform: scale(1.3);
        box-shadow: 0 0 15px orange, 0 0 30px yellow;
        background-color: orange;
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 5px black;
        background-color: black;
        color: white;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    max-height: 58px;
}

/*Clases Config.html*/
.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.input-row h3 {
    min-width: 100px;
    text-align: left;
}

.input-row input {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.input-row button {
    padding: 5px 20px;
    margin: 0px 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(20, 20, 50);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: large;
}

.input-row button:hover {
    background-color: rgb(41, 41, 128);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.2);
}

.input-row button:active {
    background-color: transparent;
}

/*Clases de Alerta*/

.alerta{
    display: block;
    background-color: rgb(212, 33,33);
    margin-top: 15px;
    padding: 5px;
    gap:0;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 15px;
}

.alerta p{
    margin: 0;
    padding: 10px;
}

.alert-header{
    display: flex;
    justify-content: space-between;
    align-items: top;
    max-height: 50px;
    border-bottom: 1px solid rgb(130, 12, 12);
    padding: 0;
}

.alert-header h3{
    margin: 5px;
}

.alerta button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 700px;
    color: white;
    font-size: large;
}

.alerta button:hover{
    background-color: rgba(0,0,0,0.3);
}

.alerta .text-cont {
    text-align: center;
    background-color: blue;
    max-height: 100px;
}

/*Clases Registro*/
.registro-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registro-head .icon{
    width: 50px;
    max-height: 50px;
    color: white;
    background-color: rgb(20, 20, 50);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.registro-head .icon:hover {
    background-color: rgb(41, 41, 128);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.2);
}

.registro-head .icon:active {
    background-color: transparent;
}



.registro-table{
    padding: 6px;
    align-self: center;
    justify-self: center;
    gap: 0px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(4, 4, 102, 0.062);
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255,255,255, 0.2);
    width: 90vw;
    max-width: 500px;
}

.registro-table .headers{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    height: 50px;
}

.registro-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.registro-row h4{
    width: 20%;
    min-width: 100px;
}